h1{
    color: red;
    font-style: italic;
    font-weight: 9000;
}
.highlight{
    border:solid;
}

#profile{
    border:solid;
    border-color: blue;
}
#profile{
    color: aqua;
    font-style: italic;
    font-weight: 900;
    font-size: 80px; 
}
